html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: flex;
  background-color: #e2e2e2;
  padding: 1rem;
}

header h1 {
  font-weight: bold;
}

header img {
  width: 2rem;
  position: absolute;
  left: auto;
}

nav {
  background-color: #e2e2e2;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

}

nav li {
  margin: .5rem;
  align-items: stretch;
  font-size: 1.125rem;
}

nav a {
  color: #0074d9;
  text-decoration: none;
}

body {
  background-color: #fff;
  margin: 0;
}

@media only screen and (min-width: 40em) {

  header {
    flex-direction: row;
    justify-content: space-between;
  }
}
